<!DOCTYPE html>
  {% extends 'GBAPP/base.html' %}
<html>
<head>
  <title>INICIO SESIÓN</title>
</head>
<body>

{% block content %}
    {% load static %}
    <style>
        h3 {
        color: #333;
        -webkit-text-stroke: 1px dimgrey;
        text-stroke: 1px black;
        background: none;
        color: navajowhite
        }
    </style>

  <div class="container" id="container" style="text-align: left;padding: 20px">
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <h6 style="background-color: darkgrey"><label for="username" >Username:</label></h6>
        <input type="text" id="username" name="username" class="form-control" required>
      </div>
      <div class="form-group">
        <h6 style="background-color: darkgrey"><label for="password">Password:</label></h6>
        <input type="password" id="password" name="password" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-dark custom-button">Login</button>
    </form>
  </div>
{% endblock %}
</body>
</html>