<!DOCTYPE html>
  {% extends 'GBAPP/base.html' %}
<html>
<head>
  <title>Login</title>
</head>
<body>

{% block content %}
    {% load static %}
    <style>
        #container {
   height: 300px;
   width: 150%;
   background-image:
        {% load static %}
       url("{% static 'vinedo3.jpg' %}");
}
    </style>
  <div class="container" id="container" style="text-align: left">
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      <div class="form-group" style="text-align: left; background-color: slategray">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" class="form-control" required>
      </div>
      <div class="form-group" style="text-align: left; background-color: slategray">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" class="form-control" required>
      </div>

      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
{% endblock %}
</body>
</html>