
{% extends 'GBAPP/base.html' %}

{% block content %}

<div class="containter">

  <div class="row">

      <div class="col-sm" > <h1> Agregar Transportista</h1>
       <ul>
        <form action="{% url 'new_camionero' %}" method="post">
              {% csrf_token %}
            <h4> Nombre: <label>
                <input type="text" name="name" class="form-control" required>
            </label></h4>
            <h4> Apellido: <label>
                <input type="text" name="ape" class="form-control" required>
            </label></h4>
            <h4> Patente: <label>
                <input type="text" name="pat" class="form-control" required>
            </label></h4>
            <h4> Modelo Camion: <label>
                <input type="text" name="mod" class="form-control" required>
            </label></h4>
            <h4>Estado:
            <label>
                <select name="status" class="form-control">
                    {% for stat in est %}
                        <option value="{{ stat.id }}">{{ stat.Estado }}</option>
                    {% endfor %}
                </select>
            </label>
            </h4>
        <input type="submit" value="Generar camionero" class="btn btn-dark">
        </form>
       </ul>
      </div>
   <div class="float-child">
          {% load static %}
          <img src="{% static 'vine.jpg' %}" class="mx-auto" />
      </div>
  </div>
</div>
{% endblock %}