<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title></title>
</head>
{% extends 'GBAPP/base.html' %}

{% block content %}

<div class="containter">
  <div class="row">
      <div class="col-sm" > <h1> Control de Madurez</h1>
       <ul>
        <form action="{% url 'new_contmad' %}" method="post">
              {% csrf_token %}
            <h4> Numero Control de Madures: {{ numcontmad }} </h4>
            <h4> Viñedo:
            <label for="select1"><select id="select1" name="vinedo" class="form-control">
                <option disabled selected value></option>
                {% for vin in vinedo %}
                    <option value="{{ vin.NumeroVin }}">{{ vin.Nombre }} - {{ vin.NumeroVin }}</option>
                {% endfor %}
            </select></label></h4>
            <h4> Cuartel:
            <label for="select2"><select id="select2" name="cuartel" class="form-control">
            </select></label></h4>
            <h4> PH: <label>
                <input type="number" name="ph" class="form-control" min="0" max="10" required>
            </label></h4>
            <h4> Acidez Total: <label>
                <input type="number" name="aci" class="form-control" min="0" max="10" required>
            </label></h4>
            <h4> Grado Baume: <label>
                <input type="number" name="Gradbau" class="form-control" min="0" max="10" required>
            </label></h4>
            <h4> Variedad: <label><select name="var" class="form-control">
                {% for var in variedad %}
                    <option value="{{ var.id }}">{{ var.Nombre }}</option>
                {% endfor %}
            </select></label></h4>
        <input type="submit" value="Guardar Control Madurez" class="btn btn-dark">
        </form>
        </ul>
        </div>
          <div class="float-child">
              {% load static %}
              <img src="{% static 'vine.jpg' %}" class="mx-auto" />
          </div>
    </div>
</div>
    <script>
    $(document).ready(function() {
    $('#select1').change(function() {
        const selectedValue = $(this).val();
        $.ajax({
            url: '/get-filtered-options/',
            type: 'GET',
            data: {
                selected_value: selectedValue
            },
            success: function(response) {
                const select2 = $('#select2');
                select2.empty();
                for (let i = 0; i < response.length; i++) {
                    const option = $('<option>').text(response[i].id);
                    select2.append(option);
                }
            },
            error: function(xhr, status, error) {
                console.log('Error:', error);
            }
        });
    });
});
</script>
{% endblock %}