{% extends 'GBAPP/base.html' %}

{% block content %}

<div class="containter">

  <div class="row">

      <div class="col-sm" > <h1> Agregar Analisis</h1>
       <ul>
        <form action="{% url 'new_analisis' %}" method="post">
              {% csrf_token %}
            <div class="form-group">
                <h5> Numero Analisis: </h5>
                <input type="text" name="anal" value="{{ NumAnal }} " class="form-control" disabled>
            </div>
            <div class="form-group">
                <h5> Nombre: </h5>
                <input type="text" name="name" class="form-control" required>
            </div>
        <input type="submit" value="Generar Analisis" class="btn btn-dark">
        </form>
       </ul>
      </div>
         <div class="float-child">
          {% load static %}
          <img src="{% static 'vine.jpg' %}" class="mx-auto" />
      </div>
  </div>
</div>
{% endblock %}