
{% extends 'GBAPP/base.html' %}

{% block content %}

<div class="containter">
  <div class="row">
      <div class="col-sm" > <h1> Stock Fraccionado</h1>
       <ul>
        <form action="{% url 'stock' %}" method="post">
              {% csrf_token %}
                    <h6>STOCK ACTUAL BOTELLAS: {{ sto.CantBot }} u.</h6>
                    <div class="form-group">
                        <h5>Cantidad de Botellas:</h5>
                        <input type="number" name="CantBot" class="form-control" value="0">
                    </div>
                    <h6>STOCK ACTUAL SEPARADORES: {{ sto.CantSepara }} u.</h6>
                    <div class="form-group">
                        <h5>Cantidad de Separadores:</h5>
                        <input type="number" name="CantSepa" class="form-control" value="0">
                    </div>
                    <h6>STOCK ACTUAL CORCHOS: {{ sto.CantCorcho }} u.</h6>
                    <div class="form-group">
                        <h5>Cantidad de Corchos:</h5>
                        <input type="number" name="CantCorchos" class="form-control" value="0">
                    </div>
                    <h6>STOCK ACTUAL ETIQUETAS: {{ sto.CantEtiqueta }} u.</h6>
                    <div class="form-group">
                        <h5>Cantidad de Etiquetas:</h5>
                        <input type="number" name="CantEtiquetas" class="form-control" value="0">
                    </div>
                    <h6>STOCK ACTUAL CAJAS: {{ sto.CantCajas }} u.</h6>
                    <div class="form-group">
                        <h5>Cantidad de Cajas:</h5>
                        <input type="number" name="CantCajas" class="form-control" value="0">
                    </div>
        <input type="submit" value="Guardar Stock" class="btn btn-dark">
        </form>
       </ul>
      </div>
      <div class="float-child">
          {% load static %}
          <img src="{% static 'vine.jpg' %}" class="mx-auto" />
      </div>
  </div>
</div>
{% endblock %}