<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Control Madurez</title>
</head>
{% extends 'GBAPP/base.html' %}

{% block content %}

<div class="containter">
  <div class="row">
      <div class="col-sm" > <h1> Control de Madurez</h1>
       <ul>
        <form action="{% url 'new_contmad' %}" method="post">
              {% csrf_token %}
            <div class="form-group">
                <h5> Numero Control de Madures: </h5>
                <input type="number" name="contmad" class="form-control" value="{{ numcontmad }}"  disabled>
            </div>
            <div class="form-group">
            <h5> Viñedo: </h5>
                <select id="select1" name="vinedo" class="form-control">
                    <option disabled selected value></option>
                    {% for vin in vinedo %}
                        <option value="{{ vin.NumeroVin }}">{{ vin.Nombre }} - {{ vin.NumeroVin }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <h5> Cuartel: </h5>
                    <select id="select2" name="cuartel" class="form-control"></select>
            </div>
            <div class="form-group">
                <h5> PH: </h5>
                    <input type="number" name="ph" class="form-control" min="0" max="10" placeholder="7/9" required>
            </div>
            <div class="form-group">
                <h5> Acidez Total: </h5>
                    <input type="number" name="aci" class="form-control" min="0" max="10" placeholder="7/9" required>
            </div>
            <div class="form-group">
            <h5> Grado Baume: </h5>
                <input type="number" name="Gradbau" class="form-control" min="0" max="10" placeholder="2/7" required>
            </div>
            <div class="form-group">
            <h5>Varietal: </h5>
                <input type="text" id="var" name="vari" class="form-control" disabled>
            </div>
        <input type="submit" value="Guardar Control Madurez" class="btn btn-dark">
        </form>
        </ul>
        </div>
          <div class="float-child">
              {% load static %}
              <img src="{% static 'vine.jpg' %}" class="mx-auto" />
          </div>
    </div>
</div>
    <script>
    $(document).ready(function() {
    $('#select1').change(function() {
        const selectedValue = $(this).val();
        $.ajax({
            url: '/get-filtered-options/',
            type: 'GET',
            data: {
                selected_value: selectedValue
            },
            success: function(response) {
                const select2 = $('#select2');
                select2.empty();
                for (let i = 0; i < response.length; i++) {
                    const option = $('<option>').text(response[i].id).data('var-id', response[i].var_id);
                    select2.append(option);
                }
                select2.trigger('change');
            },
            error: function(xhr, status, error) {
                console.log('Error:', error);
            }
        });
    });

    $('#select2').change(function() {
        const selectedVarId = $(this).find(':selected').data('var-id');
        updateVariedadLabel(selectedVarId);
    });

     function updateVariedadLabel(varId) {
    const varLabel = $('#var');
    if (varId) {
      varLabel.val(varId);
    } else {
      varLabel.val(' ');
        }
    }
});
</script>
{% endblock %}