
{% extends 'GBAPP/base.html' %}

{% block content %}

<div class="containter">

  <div class="row">

      <div class="col-sm" > <h1> Agregar Cuartel</h1>
       <ul>
        <form action="{% url 'new_cuartel' numvin %}" method="post">
              {% csrf_token %}
            <h4> Numero Viñedo: {{ numvin }} </h4>
            <h4> Numero Cuartel: {{ new_cuart }}</h4>
            <h4><label for="fec_crea"> Fecha Creación: </label> <input type="date" id="fec_crea" name="fec_crea"></h4>
            <h4> Tela Antigranizo: <label>
                <input type="checkbox" id="myCheckbox" name="TelaAnti" value="on"{% if cuart.TelaAntigranizo %}checked{% endif %} >
            </label></h4>
            <h4>Estado:
            <label>
                <select name="status" class="form-control">
                    {% for stat in estvine %}
                        <option value="{{ stat.id }}">{{ stat.Estado }}</option>
                    {% endfor %}
                </select>
            </label>
            </h4>
            <h4>Variedad:
            <label>
                <select name="var" class="form-control">
                    {% for stat in var %}
                        <option value="{{ stat.id }}">{{ stat.Nombre }}</option>
                    {% endfor %}
                </select>
            </label>
            </h4>
            <h4> Año Plantación: <input type="number" id="ano_plan" name="ano_plan" pattern="[0-9]{4}"></h4>

        <input type="submit" value="Generar Caurtel" class="btn btn-dark">
        </form>
       </ul>
      </div>
  <div class="float-child">
          {% load static %}
          <img src="{% static 'vine.jpg' %}" class="mx-auto" />
      </div>
  </div>
</div>
{% endblock %}