
{% extends 'GBAPP/base.html' %}

{% block title %}Listado Pesada{% endblock %}

{% block content %}

<div class="containter">

  <div class="row">

      <div class="col-sm" > <h1> Nueva Pesada</h1>
       <ul>
        <form action="{% url 'new_pesada' %}" method="post">
              {% csrf_token %}
            <div class="maxi">
                <h5 class="normal-Max"> Número Pesada: {{ NumPes }} </h5>
                <h5 class="normal-Max"> Varietal: {{ pesada_list.variedad.Nombre }}</h5>
                <h5 class="normal-Max"> Fecha Cosecha: {{ pesada_list.published_date }}</h5>
                <h5 class="normal-Max"> Cuartel: {{ pesada_list.NumCuartel }} </h5>
            </div>
            <br>
             <div class="form-group">
                <h5>Viñedo: </h5>
                    <select name="status" class="form-control">
                    <option disabled selected value></option>
                        {% for stat in vin %}
                            <option value="{{ stat.id }}" {% if cuart.Estado.Estado == stat.Estado %} selected="selected" {% endif %} name="Estado" id="{{ stat.id }}">{{ stat.Nombre }}</option>
                        {% endfor %}
                    </select>
            </div>
            <div class="form-group">
                <h5>Camionero: </h5>
                    <select name="status" class="form-control">
                    <option disabled selected value></option>
                        {% for stat in camionero %}
                            <option value="{{ stat.id }}" {% if cuart.Estado.Estado == stat.Estado %} selected="selected" {% endif %} name="Estado" id="{{ stat.id }}">{{ stat.Nombre }} {{ stat.Apellido }}</option>
                        {% endfor %}
                    </select>
            </div>
            <div class="form-group">
                <h5> Peso Bruto: </h5>
                <input type="number" id="value2" name="PesoBruto" min="0" class="form-control" required>
            </div>
            <div class="form-group">
                <h5> Tara: </h5>
                <input type="number" id="value1" name="Tara" min="0" class="form-control" required>
            </div>
            <div class="form-group">
                <h5 > Peso Neto: </h5>
                <input type="text" id="result" class="form-control" disabled>
            </div>
       <input type="submit" value="Cargar Pesada" class="btn btn-dark">
       </form>
       </ul>
    </div>
       <div class="float-child">
          {% load static %}
          <img src="{% static 'vine.jpg' %}" class="mx-auto" />
      </div>
  </div>
</div>
<script>
    var value1Input = document.getElementById('value1');
    var value2Input = document.getElementById('value2');
    var resultElement = document.getElementById('result');
    var capacidadValue = parseFloat("{{ pesada_list.Capacidad }}" || 0);

    function calculateSum() {
        var value1 = parseFloat(value1Input.value) || 0;
        var value2 = parseFloat(value2Input.value) || 0;
        var maxValue = value2;

        if (value2 >= value1) {
            var sum = value2 - value1;
        } else {
            resultElement.value = "0";
            return;
        }

        value1Input.setAttribute('max', maxValue);


        resultElement.value = sum;

    }

    value1Input.addEventListener('input', calculateSum);
    value2Input.addEventListener('input', calculateSum);
    calculateSum();
</script>
{% endblock %}