<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Control de Madurez</title>
</head>
{% extends 'GBAPP/base.html' %}

{% block content %}

<div class="containter">
  <div class="row">
      <div class="col-sm" > <h1> Control de Madurez</h1>
       <ul>
        <form action="{% url 'new_contmad' %}" method="post">
              {% csrf_token %}
                <div class="row">
                    <div class="col-sm" >
                            <div class="row mb-3" style="background-color: #a9a9a9;border:none">
                                <div class="col-6" style="background-color: #a9a9a9; border:none">
                                    <div class="form-floating" style="background-color: #a9a9a9; border:none">
                                        <span class="input-group-text" id="mad"> Numero Control de Madures: {{ numcontmad }} </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3" style="background-color: #a9a9a9; border:none">
                                <div class="col-6" style="border:none">
                                    <div class="form-floating" style="border:none">
                                            <select class="form-select" id="select1" name="vinedo">
                                                <option disabled selected value></option>
                                                    {% for vin in vinedo %}
                                                        <option value="{{ vin.NumeroVin }}">{{ vin.Nombre }} - {{ vin.NumeroVin }}</option>
                                                    {% endfor %}
                                            </select>
                                        <label for="select1">Viñedo</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3" style="background-color: #a9a9a9; border:none">
                                <div class="col-6" style="background-color: #a9a9a9; border:none">
                                    <div class="form-floating" style="background-color: #a9a9a9; border:none">
                                        <select class="form-select" name="cuartel" id="select2">
                                        </select>
                                        <label for="select2">Cuartel</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3" style="background-color: #a9a9a9; border:none">
                                <div class="col-6" style="background-color: #a9a9a9; border:none">
                                    <div class="input-group mb-3" style="border: none;">
                                        <span class="input-group-text" id="ph">PH:</span>
                                        <input type="number" name="ph" min="0" max="10"  class="form-control" aria-describedby="ph" placeholder="Entre 0 y 10" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3" style="background-color: #a9a9a9;border:none">
                                <div class="col-6" style="background-color: #a9a9a9; border:none">
                                    <div class="input-group mb-3" style="border: none;">
                                        <span class="input-group-text" id="aci">Acidez Total: </span>
                                        <input type="number" name="aci" min="0" max="10"  class="form-control" aria-describedby="aci" placeholder="Entre 0 y 10" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3" style="background-color: #a9a9a9;border:none">
                                <div class="col-6" style="background-color: #a9a9a9; border:none">
                                    <div class="input-group mb-3" style="border: none;">
                                        <span class="input-group-text" id="aci"> Grado Baume:</span>
                                        <input type="number" name="Gradbau" min="0" max="10"  class="form-control" aria-describedby="Gradbau" placeholder="Entre 0 y 10" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3" style="background-color: #a9a9a9;border:none">
                                <div class="col-6" style="background-color: #a9a9a9; border:none">
                                    <div class="form-floating" style="background-color: #a9a9a9; border:none">
                                        <span class="input-group-text" id="var" required> Variedad: </span>
                                    </div>
                                </div>
                            </div>
            <input type="submit" value="Guardar Control Madurez" class="btn btn-dark">
                    </div>
                <div class="col-sm" >
                    <div class="float-child">
                        {% load static %}
                        <img src="{% static 'vine.jpg' %}" class="mx-auto" />
                    </div>
                </div>
                </div>
            </form>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>
    <script>
    $(document).ready(function() {
    $('#select1').change(function() {
        const selectedValue = $(this).val();
        $.ajax({
            url: '/get-filtered-options/',
            type: 'GET',
            data: {
                selected_value: selectedValue
            },
            success: function(response) {
                const select2 = $('#select2');
                select2.empty();
                for (let i = 0; i < response.length; i++) {
                    const option = $('<option>').text(response[i].id).data('var-id', response[i].var_id);
                    select2.append(option);
                }
                select2.trigger('change');
            },
            error: function(xhr, status, error) {
                console.log('Error:', error);
            }
        });
    });

    $('#select2').change(function() {
        const selectedVarId = $(this).find(':selected').data('var-id');
        updateVariedadLabel(selectedVarId);
    });

    function updateVariedadLabel(varId) {
        const varLabel = $('#var');
        if (varId) {
            varLabel.text('Variedad: ' + varId);
        } else {
            varLabel.text('Variedad:');
        }
    }
});
</script>
{% endblock %}