
{% extends 'GBAPP/base.html' %}

{% block title %}Aditamentos a Tanques{% endblock %}

{% block content %}

<div class="containter">
    <div class="container1">
        <div class="col-sm">
        <h1>Listado de Tanques para Aditamentos/Procesos</h1>
            <div class="row">
                <div class="col-sm" style="outline: dimgrey solid 5px;">
                {% if adit %}
                    {% for stat in adit %}
                        <li><a href="/aditamentos/{{ stat.NumeroOrden }}/ "> Numero de Tanque: {{ stat.TanqueMa_id }} - Litros: {{ stat.LitrosOcupados }} Lts - {{ stat.PesaInicial.Cuartel.variedad.Nombre}}</a></li>
                    {% endfor %}
                {% else %}
                    <p>No hay aditamentos disponibles</p>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}