
{% extends 'GBAPP/base.html' %}

{% block title %}Aditamentos a Tanques{% endblock %}

{% block content %}

<div class="containter">
    <div class="container1">
        <div class="col-sm">
        <h1>Listado de Tanques para Aditamentos/Procesos</h1>
            <div class="row">
                <div class="col-sm" style="outline: dimgrey solid 5px;">
                    {% for stat in adit %}
                        <li><a href="/aditamentos/{{ stat.NumeroOrden }}/ "> Numero de Tanque {{ stat.NumeroOrden }} - {{ stat.LitrosOcupados }} Lts Ocupados - {{ stat.PesaInicial.Varietal.Nombre }}</a></li>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}