
{% extends 'GBAPP/base.html' %}

{% block title %}Movimientos de Tanques{% endblock %}

{% block content %}

<div class="containter">
    <div class="container1">
        <div class="col-sm">
        <h1>Listado de Tanques para Movimientos</h1>
            <div class="row">
                <div class="col-sm" style="outline: dimgrey solid 5px;">
                {% if mov_list%}
                    {% for movimiento in mov_list %}
                        <li><a href="/bodega_movimientos/{{ movimiento.NumeroOrden }}/{{ movimiento.TanqueMa.NumTanque }}/ "> Numero de Tanque: {{ movimiento.TanqueMa.NumTanque }} - Tipo de tanque: {{ movimiento.TanqueMa.TipoTanque.TipoTanque }} - Litros Ocupados: {{ movimiento.LitrosOcupados }} Lts  - Numero Pesada: {{ movimiento.PesaInicial.NumeroPesada }}</a></li>
                    {% endfor %}
                {% else %}
                    <p>No hay tanques disponibles</p>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}