
{% extends 'GBAPP/base.html' %}

{% block title %}Listado Viñedos{% endblock %}

{% block content %}

<div class="containter">
    <div class="container1">
        <div class="col-sm">
        <h1>Listado de Pesada Para Prensar</h1>
            <div class="row">
                <div class="col-sm" style="outline: dimgrey solid 5px;">
                {% if pesada_list %}
                    {% for pesada in pesada_list %}
                        <li><a href="/bodega_pesada/{{ pesada.NumeroPesada }}/ "> Numero de Pesada: {{ pesada.NumeroPesada }} - {{ pesada.Vinedo.Nombre }} - {{ pesada.Vinedo_id }}</a></li>
                    {% endfor %}
                {% else %}
                    <p>No hay pesadas disponibles</p>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}