
{% extends 'GBAPP/base.html' %}

{% block title %}Cronograma de ingreso de uva{% endblock %}

{% block content %}

<div class="containter">

         <div class="container1">
<div class="col-sm">
        <h1>Cronograma de ingreso de uva</h1>
    <div class="container1">
        {% for con in control_list %}
            <li><a href="/cronograma_fecha/{{ con.NumContMad }}/ ">Viñedo: {{ con.NumVin.Nombre }} - Cuartel: {{ con.NumCuar.NumCuartel }} - Variedad: {{ con.NumCuar.variedad.Nombre }} - Control Madurez {{ con.NumContMad }}</a></li>
        {% endfor %}
     </div>
    </div>
    </div>
</div>


{% endblock %}