
{% extends 'GBAPP/base.html' %}

{% block title %}Aditamentos a Tanques{% endblock %}

{% block content %}

<div class="containter">
    <div class="container1">
        <div class="col-sm">
        <h1>Listado de Tanques Pulmon para Fraccionar</h1>
            <div class="row">
                <div class="col-sm" style="outline: dimgrey solid 5px;">
                    {% for stat in tanq_list %}
                        <li><a href="/{{ stat.NumeroOrden }}/ "> Viñedo {{ stat.PesaInicial.Vinedo.Nombre }} - {{ stat.PesaInicial.Vinedo.NumeroVin }} - Cuartel {{ stat.PesaInicial.Cuartel.NumCuartel }} -  Numero Pesada {{ stat.PesaInicial.NumeroPesada }} - Varietal {{ stat.PesaInicial.Varietal.Nombre }} - {{ stat.TanqueMa.NumTanque }} - Litos del tanque {{ stat.TanqueMa.LitrosTan }} Lts - Numero de Movimiento {{ stat.NumeroMov }}</a></li>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}