
{% extends 'GBAPP/base.html' %}

{% block title %}Listado Viñedos{% endblock %}

{% block content %}

<div class="containter">
     <div class="row">
        <div class="col-sm">
            <h1>Listado de Pesada por dia</h1>
            <div class="row">
                        <div class="col-sm" style="outline: dimgrey solid 5px; padding: 20px">
                {% if pesada_list %}
                    <ul>
                        {% regroup pesada_list by InicioPrograma|date:"Y-m-d" as pesada_list_grouped %}
                        {% for date_group in pesada_list_grouped %}
                            <li>
                                <h4 style="color: navajowhite; text-decoration: underline">{{ date_group.grouper }}</h4>
                                <ul>
                                    {% for pesada in date_group.list %}
                                        <li><a href="/pesada/{{ pesada.NumPrograma }}/">Nombre Viñedo: {{ pesada.NumVin.Nombre }} - {{ pesada.NumVin.NumeroVin }} - N° Cuartel: {{ pesada.NumCuar.NumCuartel }} - Variedad: {{ pesada.NumCuar.variedad.Nombre }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h7>No hay pesadas disponibles</h7>
                {% endif %}

            </div>
        </div>
    <a href= "{% url 'new_pesada' %}"><button type="button" class = "btn btn-dark">Agregar Pesada</button></a>
    <a href= "{% url 'buscarpesada' %}"><button type="button" class = "btn btn-dark">Buscar</button></a>
    </div>
</div>
</div>

{% endblock %}