
{% extends 'GBAPP/base.html' %}

{% block title %}Listado Viñedos{% endblock %}

{% block content %}

<div class="containter">

         <div class="container1">
<div class="col-sm">
        <h1>Listado de Pesada</h1>

    <div class="container1">

        {% for pesada in pesada_list %}
            <li><a href="/pesada/{{ pesada.NumeroPesada }}/ "> Numero de Pesada {{ pesada.NumeroPesada }} - {{ pesada.Vinedo.Nombre }} - {{ pesada.FechaCosecha }}</a></li>
        {% endfor %}
     </div>


    </div>
    <a href= "{% url 'new_pesada' %}"><button type="button" class = "btn btn-secondary">Agregar Pesada</button></a>
    <a href= "{% url 'buscarpesada' %}"><button type="button" class = "btn btn-secondary">Buscar</button></a>
    </div>
</div>


{% endblock %}