
{% extends 'GBAPP/base.html' %}

{% block title %}Listado Pesada{% endblock %}

{% block content %}

<div class="containter">

  <div class="row">

      <div class="col-sm" > <h1> Detalle Aditamentos</h1>
       <ul>
        <form action="{% url 'aditamentos_update' adit.NumeroOrden %}" method="post">
              {% csrf_token %}
            <h4> Numero Orden: {{ adit.NumeroOrden }} </h4>
            <h4> Varietal: {{ adit.PesaInicial.Varietal.Nombre }} </h4>
            <h4> Litros: {{ adit.LitrosOcupados }} Lts</h4>
            <h4> Pileta actual: {{ adit.TanqueMa.NumTanque }}</h4>
            <h4> Pileta a mover: <label>
                <select name="prensa" class="form-control">
                    {% for stat in tanqm %}
                        <option value="{{ stat.id }}" >{{ stat.NumTanque }}</option>
                    {% endfor %}
                </select>
            </label>
            </h4>
            <h4> Cantidad de litros: <label>
                <input type="number" max="{{ datamov.LitrosOcupados }}" name="lts" class="form-control" required>
            </label></h4>
       <input type="submit" value="Cargar Prensada" class="btn btn-dark">
        <a href="/aditamentos_add/"> <button class="btn btn-dark">Agregar aditamentos</button></a>
       </form>
       </ul>
    </div>
  </div>
</div>
{% endblock %}