
{% extends 'GBAPP/base.html' %}

{% block content %}

<div class="containter">

  <div class="row">

      <div class="col-sm" > <h1> Detalle Analisis</h1>
       <ul>
        <form action="{% url 'analisisestado_update' analestado.id %}" method="post">
              {% csrf_token %}
            <h4> Numero Analisis: {{ analestado.id }} </h4>
            <h4> Nombre Analisis: {{ analestado.NumAnali.NomAnali }} </h4>
            <h4> Acidez Total: <label>
                <input type="text" name="aci" value="{{ analestado.AcidezTotal }}" class="form-control" required>
            </label></h4>
            <h4> PH: <label>
                <input type="text" name="ph" value="{{ analestado.PH }}" class="form-control" required>
            </label></h4>
            <h4> Grado Baume: <label>
                <input type="text" name="grad" value="{{ analestado.GradBaume }}" class="form-control" required>
            </label></h4>
            <h4>Vinedo: <label>{{ analestado.NumVin.Nombre }} - {{ analestado.NumVin.NumeroVin }} </label></h4>
            <h4>Cuartel: <label>{{ analestado.NumCuar.NumCuartel }} </label></h4>
            <input type="submit" value="Actualizar Analisis" class="btn btn-dark">
            <br>
        <br>
        </form>
       <a href="/detele_analisis/{{ analisis.NumeroVin }}"> <button class="btn btn-dark">Eliminar Analisis</button></a>
       </ul>
      </div>
       <div class="float-child">
          {% load static %}
          <img src="{% static 'vine.jpg' %}" class="mx-auto" />
      </div>
  </div>
</div>
{% endblock %}