
{% extends 'GBAPP/base.html' %}

{% block title %}Listado Pesada{% endblock %}

{% block content %}
<head><script src="https://code.jquery.com/jquery-3.6.0.min.js"></script></head>
<div class="containter">

  <div class="row">

      <div class="col-sm" > <h1> Detalle Macerado</h1>
       <ul>
        <form action="{% url 'bodega_pesada_update' pesada.NumeroPesada %}" method="post">
              {% csrf_token %}
            <div class="maxi">
                <h5 class="normal-Max"> Número Pesada: {{ pesada.NumeroPesada }} </h5>
                <h5 class="normal-Max"> Viñedo: {{ cuart_list.NumVin.Nombre }} - {{ cuart_list.NumVin.NumeroVin }}</h5>
                <h5 class="normal-Max"> Cuartel: {{ cuart_list.NumCuartel }}</h5>
                <h5 class="normal-Max"> Peso Neto: {{ pesada.PesoNeto }} KG </h5>
                <h5 class="normal-Max"> Varietal: {{ cuart_list.variedad.Nombre }}</h5>
                <h5 class="normal-Max"> Litros post Macerado/Prensado: {{ lts }} Lts  </h5>
            </div>
        <br>
            <div class="form-group">
            <h5> Piletas Macerado: </h5>
                <select name="prensa" id="select1" class="form-control">
                    <option disabled selected value></option>
                    {% for stat in prensada %}
                        <option value="{{ stat.NumTanque }}" >{{ stat.NumTanque }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <h5>Tamaño: </h5>
                <input type="text" id="var" class="form-control" disabled>
            </div>
       <input type="submit" value="Cargar Prensada" class="btn btn-dark">
       </form>
       </ul>
        </div>
      <div class="float-child">
          {% load static %}
          <img src="{% static 'vine.jpg' %}" class="mx-auto" alt=""/>
      </div>
  </div>
</div>
<script>
$(document).ready(function() {
  $('#select1').change(function() {
    const selectedValue = $(this).val();
    $.ajax({
      url: '/get-tamano_tanq-options/',
      type: 'GET',
      data: {
        selected_value: selectedValue
      },
    }).done(function(response) {
      const varInput = $('#var');
      const ltsValue = parseFloat("{{ lts }}");
      const varLabelValue = parseFloat(response.LitrosTan);

      varInput.val(response.LitrosTan + ' Lts');

      if (ltsValue > varLabelValue) {
        showChromeNotification();
      }
    }).fail(function(xhr, status, error) {
      console.log('Error:', error);
    });
  });


  function showChromeNotification() {
    if (Notification.permission === 'granted') {
      const notification = new Notification('Pop-up Message', {
        body: `{{ lts }} lts es mayor a tamaño tanque!` ,
        icon: '../../GBAPP/static/barrel.png'
      });
    } else if (Notification.permission !== 'denied') {
      Notification.requestPermission().then(function(permission) {
        if (permission === 'granted') {
          const notification = new Notification('Pop-up Message', {
            body: `{{ lts }} lts es mayor a tamaño tanque!`,
            icon: '../../GBAPP/static/barrel.png'
          });
        }
      });
    }
  }
});
</script>
{% endblock %}