<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% extends 'GBAPP/base.html' %}

{% block title %}Listado Pesada{% endblock %}

{% block content %}

<div class="containter">

  <div class="row">

      <div class="col-sm" > <h1> Detalle Prensada</h1>
       <ul>
        <form action="{% url 'bodega_pesada_update' pesada.NumeroPesada %}" method="post">
              {% csrf_token %}
            <h4> Numero Pesada: {{ pesada.NumeroPesada }} </h4>
            <h4> Viñedo: {{ cuart_list.NumVin.Nombre }} - {{ cuart_list.NumVin.NumeroVin }}</h4>
            <h4> Cuartel: {{ cuart_list.NumCuartel }}</h4>
            <h4> Peso Neto: {{ pesada.PesoNeto }} KG </h4>
            <h4> Varietal: {{ cuart_list.variedad.Nombre }}</h4>
            <h4> Litros post Prensa: {{ lts }} Lts  </h4>
            <h4> Piletas Macerado: <label>
                <select name="prensa" id="select1" class="form-control">
                    <option disabled selected value></option>
                    {% for stat in prensada %}
                        <option value="{{ stat.NumTanque }}" >{{ stat.NumTanque }}</option>
                    {% endfor %}
                </select>
            </label>
            </h4>
            <h4><label id="var">Tamaño: </label> Lts</h4>
       <input type="submit" value="Cargar Prensada" class="btn btn-dark">
       </form>
       </ul>
        </div>
      <div class="float-child">
          {% load static %}
          <img src="{% static 'vine.jpg' %}" class="mx-auto" alt=""/>
      </div>
  </div>
</div>
<script>
$(document).ready(function() {
  $('#select1').change(function() {
    const selectedValue = $(this).val();
    $.ajax({
      url: '/get-tamano_tanq-options/',
      type: 'GET',
      data: {
        selected_value: selectedValue
      },
    }).done(function(response) {
      const varLabel = $('#var');
      const ltsValue = parseFloat("{{ lts }}");
      const varLabelValue = parseFloat(response.LitrosTan);

      varLabel.text('Tamaño: ' + response.LitrosTan);

      // Compare the values and show the pop-up if {{ lts }} is higher than varLabel
      if (ltsValue > varLabelValue) {
        showChromeNotification();
      }
    }).fail(function(xhr, status, error) {
      console.log('Error:', error);
    });
  });

  // Function to show the Chrome browser pop-up notification
  function showChromeNotification() {
    if (Notification.permission === 'granted') {
      const notification = new Notification('Pop-up Message', {
        body: `{{ lts }} is higher than Tamaño!`,
        icon: 'path/to/icon.png' // Replace this with the URL of your notification icon
      });
    } else if (Notification.permission !== 'denied') {
      Notification.requestPermission().then(function(permission) {
        if (permission === 'granted') {
          const notification = new Notification('Pop-up Message', {
            body: `{{ lts }} is higher than Tamaño!`,
            icon: 'path/to/icon.png' // Replace this with the URL of your notification icon
          });
        }
      });
    }
  }
});
</script>
{% endblock %}