{% extends 'GBAPP/base.html' %}

{% block title %}Agregar fecha de ingreso de uva{% endblock %}

{% block content %}

<div class="containter">
  <div class="row">
        <div class="col-sm">
        <h1>Agregar fecha de ingreso de uva</h1>
        <form action="{% url 'cronograma_fecha_update' cronograma.NumContMad %}" method="post">
            {% csrf_token %}
            <h4><label for="new_date"> Fecha Cosecha: </label> <input type="date" id="new_date" name="new_date" onchange="document.getElementById('start_date').value = this.value"></h4>
            <h4> Numero Viñedo: {{ cronograma.NumVin_id }} - {{ cronograma.NumVin.Nombre }} </h4>
            <h4> Numero Cuartel: {{ cronograma.NumCuar_id }}</h4>
            <h4> Varietal: {{ cuart.variedad.Nombre }}</h4>
            <h4> Cantidad KG: <label>
                <input type="number" id="kg" name="kg" class="form-control" required oninput="calculateDays()">
            </label></h4>
            <h4> Capacidad Producción de KG por dia de ese viñedo: <label>
                <input type="number" id="capacidad" name="capacidad" class="form-control" max="kg"required oninput="calculateDays()">
            </label></h4>
            <h4> Bodega: <label>
                <select name="bodega" class="form-control">
                    {% for stat in bode %}
                        <option value="{{ stat.NumBodega }}" >{{ stat.NomBod }}</option>
                    {% endfor %}
                </select>
            </label>
            </h4>
            <h4> Transportista: <label>
                <select name="camion" class="form-control">
                    {% for stat in camion %}
                        <option value="{{ stat.id }}" >{{ stat.Nombre }} {{ stat.Apellido }}</option>
                    {% endfor %}
                </select>
            </label>
            </h4>
            <h4><label for="start_date"> Fecha Inicio Cosecha: </label> <input type="date" id="start_date" name="start_date" readonly></h4>
            <h4><label for="end_date"> Fecha Fin Cosecha: </label> <input type="date" id="end_date" name="end_date" readonly></h4>
            <br>
            <input type="submit" value="Agregar Fecha Ingreso" class="btn btn-dark">
        </form>
     </div>

        <div class="float-child">
          {% load static %}
          <img src="{% static 'vine.jpg' %}" class="mx-auto" />
        </div>
  </div>
</div>
 <script>
    function calculateDays() {
        var startDate = new Date(document.getElementById('start_date').value);
        var kg = parseInt(document.getElementById('kg').value);
        var capacidad = parseInt(document.getElementById('capacidad').value);
        var division  = kg / capacidad;
        var count = 0;
        var currentDay = new Date(startDate);
        currentDay.setDate(currentDay.getDate() + 1);
           while (count < division) {
                if (currentDay.getDay() !== 0 && currentDay.getDay() !== 6) {
                  count++;
                }
                currentDay.setDate(currentDay.getDate() + 1);
                if (currentDay.getDay() === 6) {
                  currentDay.setDate(currentDay.getDate() + 2);
                }
           }
           if (division > 1) {
                startDate.setDate(startDate.getDate() + count);
              }
        document.getElementById('end_date').value = startDate.toISOString().slice(0, 10);
        }
 </script>

{% endblock %}