
{% extends 'GBAPP/base.html' %}

{% block title %}Detalle Cuarte{% endblock %}

{% block content %}

<div class="containter">

  <div class="row">

      <div class="col-sm" > <h1> Detalle Cuartel {{ cuart.variedad.Nombre }}</h1>
       <ul>
        <form action="{% url 'cuartel_update' cuart.NumVin.NumeroVin cuart.NumCuartel %}" method="post">
              {% csrf_token %}
            <div class="maxi">
            <h5 class="normal-Max"> Número Viñedo: {{ cuart.NumVin.NumeroVin }} </h5>
            <h5 class="normal-Max"> Nombre Viñedo: {{ cuart.NumVin.Nombre }} </h5>
            <h5 class="normal-Max"> Número Cuartel: {{ cuart.NumCuartel }}</h5>
            <h5 class="normal-Max"> Fecha Creación: {{ cuart.created_date }}</h5>
            <h5 class="normal-Max"> Variedad: {{ cuart.variedad.Nombre }} </h5>

            </div>
        <br>
            <div class="form-group">
                <h5> Tela Antigranizo: </h5>
                <input type="checkbox" id="myCheckbox" name="TelaAnti" value="on"{% if cuart.TelaAntigranizo %}checked{% endif %} >
            </div>
            <div class="form-group">
                <h5>Estado: </h5>
                    <select name="status" class="form-control">
                    <option disabled selected value></option>
                        {% for stat in estvine %}
                            <option value="{{ stat.id }}" {% if cuart.Estado.Estado == stat.Estado %} selected="selected" {% endif %} name="Estado" id="{{ stat.id }}">{{ stat.Estado }}</option>
                        {% endfor %}
                    </select>
            </div>
            <div class="form-group">
                <h5> Año Plantación: </h5>
                <input type="number" id="ano_plan" name="ano_plan" pattern="[0-9]{4}" class="form-control">
            </div>
        <input type="submit" value="Actualizar Cuartel" class="btn btn-dark">
            <br>
        <br>
        </form>
       </ul>
    </div>
  <div class="float-child">
          {% load static %}
          <img src="{% static 'vine.jpg' %}" class="mx-auto" />
      </div>
  </div>
</div>
{% endblock %}