
{% extends 'GBAPP/base.html' %}

{% block content %}

<div class="containter">

  <div class="row">

      <div class="col-sm" > <h1> Agregar Analisis</h1>
       <ul>
        <form action="{% url 'new_analisis' %}" method="post">
              {% csrf_token %}
            <h4> Numero Analisis: {{ NumAnal }} </h4>
            <h4> Nombre: <label>
                <input type="text" name="name" class="form-control" required>
            </label></h4>
        <input type="submit" value="Generar Pesada" class="btn btn-dark">
        </form>
       </ul>
      </div>
  </div>
</div>
{% endblock %}