
{% extends 'GBAPP/base.html' %}

{% block title %}Listado Pesada{% endblock %}

{% block content %}

<div class="containter">

  <div class="row">

      <div class="col-sm" > <h1> Detalle Pesada</h1>
       <ul>
        <form action="{% url 'pesada_update' pesada_list.NumeroPesada %}" method="post">
              {% csrf_token %}
            <h4> Numero Pesada: {{ pesada_list.NumeroPesada }} </h4>
            <h4> Tara: <input type="text" id="value1" name="Tara" value="{{ pesada_list.Tara }}" class="form-control" required></h4>
            <h4> Peso Bruto: <input type="text" id="value2" name="PesoBruto" value="{{ pesada_list.PesoBruto }}" class="form-control" required></h4>
            <h4 id="result"> Peso Neto: </h4>
            <h4> Fecha Cosecha: {{ pesada_list.FechaCosecha }} </h4>
            <h4>Camionero: {{ pesada_list.Camionero.Nombre }}</h4>
            <h4>Varietal: {{ pesada_list.Varietal.Nombre }}</h4>
            <h4>Viñedo: {{ pesada_list.Vinedo.Nombre }} - {{ pesada_list.Vinedo.NumeroVin }}</h4>
       <input type="submit" value="Cargar Pesada" class="btn btn-dark">
       </form>
       </ul>
    </div>
       <div class="float-child">
          {% load static %}
          <img src="{% static 'vine.jpg' %}" class="mx-auto" />
      </div>
  </div>
</div>
<script>
    // Get the input field values
    var value1Input = document.getElementById('value1');
    var value2Input = document.getElementById('value2');
    var resultElement = document.getElementById('result');

    function calculateSum() {
    // Get the input field values
        var value1 = parseFloat(value1Input.value) || 0;
        var value2 = parseFloat(value2Input.value) || 0;

        // Perform the sum calculation
        var sum = value1 - value2;

        // Display the result
        resultElement.textContent = " Peso Neto: " + sum;
      }

  // Add event listeners to the input fields
  value1Input.addEventListener('input', calculateSum);
  value2Input.addEventListener('input', calculateSum);

  // Initial sum calculation
  calculateSum();
</script>
{% endblock %}