<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% extends 'GBAPP/base.html' %}

{% block title %}Pre-fraccionado{% endblock %}

{% block content %}

<div class="containter">

  <div class="row">

      <div class="col-sm"> <h1>Tanque Pre-fraccionado</h1>
       <ul>
        <form action="{% url 'tanquefraccionado_update' adit.NumeroMov %}" method="post">
              {% csrf_token %}
          <div class="maxi">
              <h5 class="normal-Max"> Número Pesada: {{ adit.PesaInicial.NumeroPesada }} </h5>
              <h5 class="normal-Max"> Viñedo: {{ adit.PesaInicial.Vinedo.Nombre }} - {{ adit.PesaInicial.Cuartel.NumCuartel }}</h5>
              <h5 class="normal-Max"> Cuartel: {{ adit.PesaInicial.Cuartel.NumCuartel }}</h5>
              <h5 class="normal-Max"> Peso Neto: {{ adit.PesaInicial.PesoNeto }} KG </h5>
              <h5 class="normal-Max"> Varietal: {{ adit.PesaInicial.Cuartel.variedad.Nombre }}</h5>
              <h5 class="normal-Max"> Litros post Macerado/Prensado: {{ adit.LitrosOcupados }} Lts </h5>
          </div>
        <br>
            <div class="form-group">
              <h5> Piletas Fraccionado: </h5>

                  <select name="fraccio" id="select1" class="form-control">
                    <option disabled selected value></option>
                    {% for tanq in tanqm %}
                      <option value="{{ tanq.NumTanque }}">{{ tanq.NumTanque }}</option>
                    {% endfor %}
                  </select>
            </div>
            <div class="form-group">
                <h5>Tamaño: </h5>
                    <input type="text" id="var" class="form-control" disabled>
            </div>
          <input type="submit" value="Cargar Prensada" class="btn btn-dark">
        </form>
      </ul>
    </div>

    <div class="float-child">
      {% load static %}
      <img src="{% static 'vine.jpg' %}" class="mx-auto" alt="">
    </div>

  </div>

</div>

<script>
$(document).ready(function() {
  $('#select1').change(function() {
    const selectedValue = $(this).val();
    $.ajax({
      url: '/get-tamano_tanq-options/',
      type: 'GET',
      data: {
        selected_value: selectedValue
      },
    }).done(function(response) {
      const varInput = $('#var');
      const ltsValue = parseFloat("{{ adit.LitrosOcupados }}");
      const varLabelValue = parseFloat(response.LitrosTan);

      varInput.val(response.LitrosTan + ' Lts');

      // Compare the values and show the pop-up if {{ adit.LitrosOcupados }} is higher than varLabelValue
      if (ltsValue > varLabelValue) {
        showChromeNotification();
      }
    }).fail(function(xhr, status, error) {
      console.log('Error:', error);
    });
  });

  // Function to show the Chrome browser pop-up notification
  function showChromeNotification() {
    if (Notification.permission === 'granted') {
      const notification = new Notification('Pop-up Message', {
        body: `{{ adit.LitrosOcupados }} is higher than Tamaño!`,
        icon: 'path/to/icon.png' // Replace this with the URL of your notification icon
      });
    } else if (Notification.permission !== 'denied') {
      Notification.requestPermission().then(function(permission) {
        if (permission === 'granted') {
          const notification = new Notification('Pop-up Message', {
            body: `{{ adit.LitrosOcupados }} is higher than Tamaño!`,
            icon: 'path/to/icon.png' // Replace this with the URL of your notification icon
          });
        }
      });
    }
  }
});
</script>

{% endblock %}