<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% extends 'GBAPP/base.html' %}

{% block title %}Listado Pesada{% endblock %}

{% block content %}

<div class="containter">

  <div class="row">

      <div class="col-sm" > <h1> Detalle Tanque Fraccionado </h1>
       <ul>
        <form action="{% url 'bodega_movimientos_update' datamov.NumeroOrden datamov.TanqueMa.NumTanque %}" method="post">
              {% csrf_token %}
            <h4> Numero Orden: {{ datamov.NumeroOrden }} </h4>
            <h4> Varietal: {{ datamov.PesaInicial.Cuartel.variedad.Nombre }} </h4>
            <h4> Litros: {{ datamov.LitrosOcupados }} Lts</h4>
            <h4> Litros restantes pileta {{ datamov.TanqueMa.NumTanque }}: {{ datamov.TanqueMa.LitrosAct }} LTS</h4>
            <h4> Pileta a mover: <label>
                <select name="tanq" id="select1" class="form-control">
                <option disabled selected value></option>
                    {% for stat in tanqm %}
                        <option value="{{ stat.NumTanque }}" >{{ stat.NumTanque }}</option>
                    {% endfor %}
                </select>
            </label>
            </h4>
            <h4><label id="var">Tamaño: </label> Lts</h4>
            <h4> Cantidad de litros a mover: <label>
                <input type="number" max="{{ datamov.LitrosOcupados }}" name="lts" class="form-control" required>
            </label></h4>
       <input type="submit" value="Cargar Prensada" class="btn btn-dark">
       </form>
       </ul>
    </div>
   <div class="float-child">
          {% load static %}
          <img src="{% static 'vine.jpg' %}" class="mx-auto" />
      </div>
  </div>
</div>

<script>
$(document).ready(function() {
  $('#select1').change(function() {
    const selectedValue = $(this).val();
    $.ajax({
      url: '/get-tamano_tanq-options/',
      type: 'GET',
      data: {
        selected_value: selectedValue
      },
      success: function(response) {
        const varLabel = $('#var');
        varLabel.text('Tamaño: ' + response.LitrosTan);
      },
      error: function(xhr, status, error) {
        console.log('Error:', error);
      }
    });
  });
});
</script>

{% endblock %}