{% extends 'GBAPP/base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>Two Rectangles with a Cut</title>
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    .container2 {
      position: relative;
      width: 100%;
      height: 400px;
    }

    .rectangle {
      position: absolute;
      width: 50%;
      height: 100%;
      top: 0;
    }

    .rectangle-left {
      left: 0;
    }

    .rectangle-right {
      right: 0;
    }

    .cut {
      position: absolute;
      width: 4px;
      height: 100%;
      top: 0;
      left: 50%;
      background-color: #FFFFFF;
      z-index: 1;
    }
  </style>
<script>
  $(document).ready(function() {
    $('#select1').change(function() {
        handleSelectChange();
        const selectedValue = $(this).val();
        $('#varid1').val(selectedValue);
        $.ajax({
            url: '/get-trazabilidad-options/',
            type: 'GET',
            data: {
                selected_value: selectedValue
            },
            success: function(response) {
                const select2 = $('#select2');
                select2.empty();
                for (let i = 0; i < response.devolucion.length; i++) {
                    const option = $('<option>').text(response.devolucion[i].id);
                    select2.append(option);
                }
                select2.trigger('change');

            },
            error: function(xhr, status, error) {
                console.log('Error:', error);
            }
        });
    });
     $('#select2').change(function() {
      handleSelectChange();
      const selectedValue1 = $(this).val();
      $('#varid').val(selectedValue1);
    });

    function handleSelectChange() {
            const selectedValue1 = $('#select1').val();
            if (selectedValue1 === 'Número Movimiento') {
                $('.maxi').hide();
                $('.maxi[data-type="numero-movimiento"]').show();
                $('.maxi[data-type="numero-movimiento1"]').show();
            } else if (selectedValue1 === 'Viñedo') {
                $('.maxi').hide();
                $('.maxi[data-type="vinedo"]').show();
                $('.maxi[data-type="vinedo1"]').show();
            } else if (selectedValue1 === 'Tanque') {
                $('.maxi').hide();
                $('.maxi[data-type="tanque"]').show();
                $('.maxi[data-type="tanque1"]').show();
            } else if (selectedValue1 === 'Pesada') {
                $('.maxi').hide();
                $('.maxi[data-type="pesada"]').show();
                $('.maxi[data-type="pesada1"]').show();
            } else {
                $('.maxi').hide();
            }
        }
   handleSelectChange();
  });
</script>
</head>
<body>

  <div class="container2" style="width: initial">

    <div class="rectangle rectangle-left">
        <form action="{% url 'trazabilidad_up' 'Viñedo' 1002 %}" method="post">
            {% csrf_token %}
        <div class="form-group" style="width: 100%">
            <h5> Búsqueda: </h5>
                <select id="select1" name="busqu" class="form-control">
                <option disabled selected value></option>
                    {% for stat in busqueda %}
                        <option value="{{ stat }}" >{{ stat }}</option>
                    {% endfor %}
                </select>
        </div>
        <div class="form-group" style="width: 100%">
                <h5> Valor a buscar: </h5>
                <select id="select2" name="bus" class="form-control">
                <option disabled selected value></option>
                </select>
         </div>
            <div class="maxi" data-type="numero-movimiento" style="width: 100%">
                <h5 class="normal-Max"> Número Orden: {{ devolucion }} </h5>
                <h5 class="normal-Max"> Varietal: {{ tanque.PesaInicial.Cuartel.variedad.Nombre }} </h5>
                <h5 class="normal-Max"> Litros: {{ tanque.LitrosOcupados }} Lts</h5>
                <h5 class="normal-Max"> Pileta actual: {{ tanque.TanqueMa.NumTanque }}</h5>
            </div>
            <div class="maxi" data-type="vinedo" style="width: 100%">
                <h5 class="normal-Max"> Número Viñedo: {{ devolucion.NumVin }} </h5>
                <h5 class="normal-Max"> Varietal: {{ adit.PesaInicial.Cuartel.variedad.Nombre }} </h5>
                <h5 class="normal-Max"> Litros: {{ adit.LitrosOcupados }} Lts</h5>
                <h5 class="normal-Max"> Pileta actual: {{ adit.TanqueMa.NumTanque }}</h5>
            </div>
            <div class="maxi" data-type="tanque" style="width: 100%">
                <h5 class="normal-Max"> Número Tanque: {{ adit.NumeroOrden }} </h5>
                <h5 class="normal-Max"> Varietal: {{ adit.PesaInicial.Cuartel.variedad.Nombre }} </h5>
                <h5 class="normal-Max"> Litros: {{ adit.LitrosOcupados }} Lts</h5>
                <h5 class="normal-Max"> Pileta actual: {{ adit.TanqueMa.NumTanque }}</h5>
            </div>
            <div class="maxi" data-type="pesada" style="width: 100%">
                <h5 class="normal-Max"> Número Pesada: {{ adit.NumeroOrden }} </h5>
                <h5 class="normal-Max"> Varietal: {{ adit.PesaInicial.Cuartel.variedad.Nombre }} </h5>
                <h5 class="normal-Max"> Litros: {{ adit.LitrosOcupados }} Lts</h5>
                <h5 class="normal-Max"> Pileta actual: {{ adit.TanqueMa.NumTanque }}</h5>
            </div>
            <input type="submit" class="btn btn-dark">
        </form>
    </div>
    <div class="rectangle rectangle-right">
        <div class="maxi" data-type="numero-movimiento1" style="width: 100%">
                <h5 class="normal-Max"> Número Orden: {{ adit.NumeroOrden }} </h5>
                <h5 class="normal-Max"> Varietal: {{ adit.PesaInicial.Cuartel.variedad.Nombre }} </h5>
                <h5 class="normal-Max"> Litros: {{ adit.LitrosOcupados }} Lts</h5>
                <h5 class="normal-Max"> Pileta actual: {{ adit.TanqueMa.NumTanque }}</h5>
            </div>
            <div class="maxi" data-type="vinedo1" style="width: 100%">
                <h5 class="normal-Max"> Número Viñedo: {{ adit.NumeroOrden }} </h5>
                <h5 class="normal-Max"> Varietal: {{ adit.PesaInicial.Cuartel.variedad.Nombre }} </h5>
                <h5 class="normal-Max"> Litros: {{ adit.LitrosOcupados }} Lts</h5>
                <h5 class="normal-Max"> Pileta actual: {{ adit.TanqueMa.NumTanque }}</h5>
            </div>
            <div class="maxi" data-type="tanque1" style="width: 100%">
                <h5 class="normal-Max"> Número Tanque: {{ adit.NumeroOrden }} </h5>
                <h5 class="normal-Max"> Varietal: {{ adit.PesaInicial.Cuartel.variedad.Nombre }} </h5>
                <h5 class="normal-Max"> Litros: {{ adit.LitrosOcupados }} Lts</h5>
                <h5 class="normal-Max"> Pileta actual: {{ adit.TanqueMa.NumTanque }}</h5>
            </div>
        <div class="maxi" data-type="pesada1" style="width: 100%">
                <h5 class="normal-Max"> Número Pesada: {{ adit.NumeroOrden }} </h5>
                <h5 class="normal-Max"> Varietal: {{ adit.PesaInicial.Cuartel.variedad.Nombre }} </h5>
                <h5 class="normal-Max"> Litros: {{ adit.LitrosOcupados }} Lts</h5>
                <h5 class="normal-Max"> Pileta actual: {{ adit.TanqueMa.NumTanque }}</h5>
            </div>
    </div>
    <div class="cut">

    </div>
  </div>
<div class="container2" id="additional-data-container">
    <div class="rectangle rectangle-left">

    </div>
    <div class="rectangle rectangle-right">


    </div>
    <div class="cut"></div>
  </div>
</body>
</html>

{% endblock %}