{% extends 'GBAPP/base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>Two Rectangles with a Cut</title>
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    .container2 {
      position: relative;
      width: 100%;
      height: 400px;
    }

    .rectangle {
      position: absolute;
      width: 50%;
      height: 100%;
      top: 0;
    }

    .rectangle-left {
      left: 0;
    }

    .rectangle-right {
      right: 0;
    }

    .cut {
      position: absolute;
      width: 4px;
      height: 100%;
      top: 0;
      left: 50%;
      background-color: #FFFFFF;
      z-index: 1;
    }
  </style>
<script>
  $(document).ready(function() {
    $('#select1').change(function() {
        handleSelectChange();
        $('#get-trazabilidad').submit();
        $('#select2').val('').trigger('change');
        $('#select3').val('').trigger('change');
    });
     $('#select2').change(function() {
      handleSelectChange();
      $('#select3').val('').trigger('change');
    });

    function handleSelectChange() {
            const selectedValue1 = $('#select1').val();
            if (selectedValue1 === 'Número Orden') {
                $('.maxi').hide();
                $('.maxi[data-type="numero-movimiento"]').show();
                $('.maxi[data-type="numero-movimiento1"]').show();
            } else if (selectedValue1 === 'Viñedo') {
                $('.maxi').hide();
                $('.maxi[data-type="vinedo"]').show();
                $('.maxi[data-type="vinedo1"]').show();
            } else if (selectedValue1 === 'Tanque') {
                $('.maxi').hide();
                $('.maxi[data-type="tanque"]').show();
                $('.maxi[data-type="tanque1"]').show();
            } else if (selectedValue1 === 'Pesada') {
                $('.maxi').hide();
                $('.maxi[data-type="pesada"]').show();
                $('.maxi[data-type="pesada1"]').show();
            } else {
                $('.maxi').hide();
            }
        }
   handleSelectChange();
  });
</script>
</head>
<body>
<form method="GET" name="get-trazabilidad" action="{% url 'get_trazabilidad_options' %}">
{% csrf_token %}
<div class="container2" style="width: initial">
    <div class="rectangle rectangle-left">
        <div class="form-group" style="width: 100%">
            <h5> Trazabilidad: </h5>
                    <div class="form-group" style="width: 100%">
                    <h5 class="normal-Max"> Tipo: </h5>
                        <select id="select1" name="busqueda1" class="form-control" >
                        <option disabled selected value></option>
                            {% for stat in busqueda %}
                                <option value="{{ stat }}" {% if stat == option1 %}selected{% endif %}>{{ stat }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group" style="width: 100%">
                        <h5 class="normal-Max"> Valor: </h5>
                        <select id="select2" name="busqueda2" class="form-control">
                            <option disabled selected value></option>
                            {% for stat in devolucion %}
                                <option value="{{ stat }}" {% if stat|stringformat:"s" == option2 %}selected{% endif %}>{{ stat }}</option>
                            {% endfor %}
                        </select>
                    </div>
                <div class="maxi" data-type="numero-movimiento" style="width: 100%">
                    <h5 class="normal-Max"> Número Viñedo: {{ result.PesaInicial.Vinedo_id }} </h5>
                    <h5 class="normal-Max"> Ubicación: {{ result.PesaInicial.Vinedo.Ubicacion }} - {{ result.PesaInicial.Vinedo.Altura }} mts sobre nivel mar </h5>
                    <h5 class="normal-Max"> Año Vigencia: {{ result.PesaInicial.Vinedo.created_date }} </h5>
                    <h5 class="normal-Max"> Dueño: {{ result.PesaInicial.Vinedo.Dueno }}</h5>
                </div>
                <div class="maxi" data-type="vinedo" style="width: 100%">
                    <h5 class="normal-Max"> Número Viñedo: {{ result.NumeroVin }} </h5>
                    <h5 class="normal-Max"> Ubicación: {{ result.Ubicacion }} - {{ result.Altura }} mts sobre nivel mar</h5>
                    <h5 class="normal-Max"> Año Vigencia: {{ result.created_date }}</h5>
                    <h5 class="normal-Max"> Dueño: {{ result.Dueno }}</h5>
                </div>
                <div class="maxi" data-type="tanque" style="width: 100%">
                    <h5 class="normal-Max"> Número Tanque: {{ adit.NumeroOrden }} </h5>
                    <h5 class="normal-Max"> Varietal: {{ adit.PesaInicial.Cuartel.variedad.Nombre }} </h5>
                    <h5 class="normal-Max"> Litros: {{ adit.LitrosOcupados }} Lts</h5>
                    <h5 class="normal-Max"> Pileta actual: {{ adit.TanqueMa.NumTanque }}</h5>
                </div>
                <div class="maxi" data-type="pesada" style="width: 100%">
                    <h5 class="normal-Max"> Número Pesada: {{ adit.NumeroOrden }} </h5>
                    <h5 class="normal-Max"> Varietal: {{ adit.PesaInicial.Cuartel.variedad.Nombre }} </h5>
                    <h5 class="normal-Max"> Litros: {{ adit.LitrosOcupados }} Lts</h5>
                    <h5 class="normal-Max"> Pileta actual: {{ adit.TanqueMa.NumTanque }}</h5>
                </div>
        </div>
        <button type="submit">Search</button>
    </div>
    <div class="rectangle rectangle-right">
        <div class="form-group" style="width: 100%">
        <h5> Datos complementarios </h5>
            <div class="maxi" data-type="numero-movimiento1" style="width: 100%">
                <h5 class="normal-Max"> Numero Cuartel: {{ result.PesaInicial.Cuartel.NumCuartel }} </h5>
                <h5 class="normal-Max"> TelaAntigranizo: {{ result.PesaInicial.Cuartel.TelaAntigranizo }} </h5>
                <h5 class="normal-Max"> Estado: {{ result.PesaInicial.Cuartel.Estado.Estado }}</h5>
                <h5 class="normal-Max"> Varietal: {{ result.PesaInicial.Cuartel.variedad.Nombre }}</h5>
                <h5 class="normal-Max"> Año plantación: {{ result.PesaInicial.Cuartel.anoplant }}</h5>
                <h5 class="normal-Max"> Tipo Riego: {{ result.PesaInicial.Cuartel.TipoRiego }}</h5>
            </div>
            <div class="maxi" data-type="vinedo1" style="width: 100%">
                <h5 class="normal-Max"> Seleccionar Cuartel: </h5>
                <select id="select3" name="busqueda3" class="form-control">
                    <option disabled selected value></option>
                    {% for stat in resultcomple %}
                        <option value="{{ stat.NumCuartel }}" {% if stat.NumCuartel|stringformat:"s" == option3 %}selected{% endif %}>{{ stat.NumCuartel }}</option>
                    {% endfor %}
                </select>
                <h5 class="normal-Max"> Numero Cuartel: {{ resultcomple1.NumCuartel }}</h5>
                <h5 class="normal-Max"> TelaAntigranizo: {{ resultcomple1.TelaAntigranizo }} </h5>
                <h5 class="normal-Max"> Estado: {{ resultcomple1.Estado.Estado }} </h5>
                <h5 class="normal-Max"> Varietal: {{ resultcomple1.variedad.Nombre }} </h5>
            </div>
            <div class="maxi" data-type="tanque1" style="width: 100%">
                <h5 class="normal-Max"> Número Tanque: {{ adit.NumeroOrden }} </h5>
            </div>
            <div class="maxi" data-type="pesada1" style="width: 100%">
                <h5 class="normal-Max"> Número Pesada: {{ adit.NumeroOrden }} </h5>
                <h5 class="normal-Max"> Varietal: {{ adit.PesaInicial.Cuartel.variedad.Nombre }} </h5>
                <h5 class="normal-Max"> Litros: {{ adit.LitrosOcupados }} Lts</h5>
                <h5 class="normal-Max"> Pileta actual: {{ adit.TanqueMa.NumTanque }}</h5>
            </div>
        <button type="submit">Search</button>
        </div>
    </div>
    <div class="cut"></div>
</div>
<div class="container2" id="additional-data-container">
    <div class="rectangle rectangle-left">
        <div class="form-group" style="width: 100%">
        <h5>Movimientos de tanques</h5>
        {% for tanq in tanqm %}
                <h5 class="normal-Max"><a class="normal-Max" href="/aditamentos_det/{{ tanq.NumeroMov }}/"> Numero Mov: {{ tanq.NumeroMov }} - Numero tanque: {{ tanq.TanqueMa_id }}/{{ tanq.TanqueMa.TipoTanque.TipoTanque }} - Litros {{ tanq.LitrosOcupados }}</a></h5>
        {% endfor %}
        </div>
    </div>
    <div class="rectangle rectangle-right">
        <div class="form-group" style="width: 100%">
        <h5>Fraccionado</h5>
            {% for tanq in fracc %}
                <h5 class="normal-Max"> Numero Orden: {{ tanq.NumeroMov.NumeroOrden }} - {{ tanq.IniProc }} - </h5>
                <h5 class="normal-Max"> Cantidad de botellas: {{ tanq.CantBot }} - Botella Vidrio {{ tanq.TipoBot }} </h5>
                <h5 class="normal-Max"> Cantidad de Separadores: {{ tanq.CantSepara }} - Separador de {{ tanq.TipoSepara }}</h5>
                <h5 class="normal-Max"> Cantidad de Separadores: {{ tanq.CantCajas }} - Caja de {{ tanq.TipoCaj }}</h5>
                <h5 class="normal-Max"> Cantidad de corchos: {{ tanq.CantCorcho }} </h5>
                <h5 class="normal-Max"> Cantidad de Etiquetas: {{ tanq.CantEtiqueta }}</h5>
            {% endfor %}
        </div>

    </div>
    <div class="cut"></div>
</div>
</form>
</body>
</html>

{% endblock %}