{% extends 'GBAPP/base.html' %}

{% block title %}Busqueda{% endblock %}

{% block content %}
    <h1>Buscar Por Fincas</h1>

    <form method="GET">
        <label for="vineyard">Seleccione la finca:</label>
        <select name="vineyard" id="vineyard">
            <option value="">-- Seleccione una finca --</option>
            <!-- Loop through the vineyards to populate the options -->
            {% for vineyard in vineyards %}
                <option value="{{ vineyard.NumeroVin }}" {% if vineyard.NumeroVin|stringformat:"s" == form.data.vineyard %}selected{% endif %}>{{ vineyard.Nombre }}</option>
            {% endfor %}
        </select>

        <label for="cuartel">Seleccione la fecha de cosecha:</label>
        <select name="cuartel" id="cuartel">
            <option value="">-- Seleccione una fecha --</option>
            <!-- Loop through the harvest dates to populate the options -->
            {% for date in cuarteles %}
                <option value="{{ date }}" {% if date|stringformat:"s" == form.data.cuartel %}selected{% endif %}>{{ date }}</option>
            {% endfor %}
        </select>

        <button type="submit" class="btn btn-dark">Buscar Fincas</button>
    </form>

    {% if results %}
        <h1>Resultados</h1>
        <ul>
            {% for item in results %}
                <li>
                    <a href="/pesada/{{ item.id }}/ ">
                        Número Pesada {{ item.NumeroPesada }} - {{ item.Vinedo.Nombre }} - {{ item.FechaCosecha }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
