{% extends 'GBAPP/base.html' %}
{% block title %}Busqueda Tanques{% endblock %}

{% block content %}
    <h1>Buscar tanque</h1>

    <form method="GET">
        {{ form.as_p }}
        <button type="submit" class = "btn btn-dark">Buscar tanque N°</button>
    </form>

    {% if results %}
        <h1>Resultados</h1>
        <ul>
        {% for item in results %}
            <li><a href="/tanque/{{ tanque.id }}/ ">Numero tanque {{ item.NumeroTanque }} - {{ item.Tanque.Nombre }} - {{ item.FechaCosecha }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}


{% endblock %}