{% extends 'GBAPP/base.html' %}

{% block title %}Busqueda{% endblock %}

{% block content %}
    <h1>Buscar Por Fincas</h1>

    <form method="GET">
        {{ form.as_p }}
        <button type="submit" class = "btn btn-dark">Buscar Fincas</button>
    </form>

    {% if results %}
        <h1>Resultados</h1>
        <ul>
        {% for item in results %}
            <li><a href="/pesada/{{ pesada.id }}/ ">Número Pesada {{ item.NumeroPesada }} - {{ item.Vinedo.Nombre }} - {{ item.FechaCosecha }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}


{% endblock %}