
{% extends 'GBAPP/base.html' %}

{% block title %}Listado Tipo Analisis{% endblock %}

{% block content %}

<div class="containter">

         <div class="row">
<div class="col-sm">
        <h1>Listado Tipo Analisis</h1>

    <div class="row">

    <div class="col-sm" style="outline: dimgrey solid 5px;">
        <ul>
            {% for analisis in analisis_list %}
               <li><a href="/analisis/{{ analisis.NumAnali }}/ "> {{ analisis.NomAnali }} </a></li>
            {% endfor %}
        </ul>
     </div>
    </div>
   <a href= "{% url 'new_analisis' %}"><button type="button" class = "btn btn-secondary">Agregar Analisis</button></a>
    </div>
</div>
</div>


{% endblock %}