
{% extends 'GBAPP/base.html' %}

{% block content %}

<div class="containter">

  <div class="row">

      <div class="col-sm" > <h1> Detalle Analisis</h1>
       <ul>
        <form action="{% url 'analisis_update' analisis.NumAnali %}" method="post">
              {% csrf_token %}
            <h4> Nombre: <input type="text" name="name" value="{{ analisis.Nombre }}" class="form-control" required></h4>
            <h4> Numero Analisis: {{ analisis.NumeroVin }} </h4>
            <h4> Ubicacion: <input type="text" name="ubic" value="{{ analisis.Ubicacion }}" class="form-control" required> </h4>
            <h4>Estado: </h4>
                <select name="status" class="form-control">
                    {% for stat in estvine %}
                        <option value="{{ stat.id }}" {% if analisis.Estado.Estado == stat.Estado %} selected="selected" {% endif %} name="Estado" id="{{ stat.id }}">{{ stat.Estado }}</option>
                    {% endfor %}
                {{ stat.Estado }}
                </select>
            <h4> Fecha Alta: {{ analisis.created_date }} </h4>
            <h4> Dueño: <input type="text" name="dueno" value="{{ analisis.Dueno }}" class="form-control" required> </h4>
        <input type="submit" value="Actualizar Analisis" class="btn btn-dark">
            <br>
        <br>
        </form>
       <a href="/detele_analisis/{{ analisis.NumeroVin }}"> <button class="btn btn-dark">Eliminar Analisis</button></a>
       </ul>
      </div>
  </div>
</div>
{% endblock %}