{% extends 'GBAPP/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}



<div class="container" style="text-align: center; vertical-align: center;margin-top: 10%; ">
    <div class="row">
    <div class="col-sm">
    <a href= {% url 'vinedo_list' %}><button type="button" class = "btn btn-dark">Viñedos</button></a>
    </div>
    <div class="col-sm">
    <a href= {% url 'pesada_list' %}><button type="button" class = "btn btn-dark">Pesada</button></a>
    </div>
    <div class="col-sm">
    <a href= {% url 'vinedo_list' %}><button type="button" class = "btn btn-dark">Tanques</button></a>
    </div>
    <div class="col-sm">
    <a href= {% url 'vinedo_list' %}><button type="button" class = "btn btn-dark">Laboratorio</button></a>
    </div>
    <div class="col-sm">
    <a href={% url 'vinedo_list' %} ><button type="button" class = "btn btn-dark">Embotellado</button></a>
    </div>
    <div class="col-sm">
    <a href= {% url 'vinedo_list' %}><button type="button" class = "btn btn-dark">Reporte</button></a>
    </div>

    </div>
    </div>
{% endblock %}