{% extends 'GBAPP/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="d-flex align-items-center">
    {% load static %}
    <img src="{% static 'vine1.jpg' %}" class="max-auto">
    <img src="{% static 'vinedo3.jpg' %}" class="max-auto">
    <img src="{% static 'vinedo1.jpg' %}" class="max-auto">
</div>

<div class="container" style="text-align: center; margin-top: 1%; background-color: dimgrey; width: 450px">
    <div class="row" style="background-color: dimgrey">
        <div class="col-sm" style="width: 200px; background-color: dimgrey;">
            <a href="../accounts/login">
                <button type="button" class="btn btn-dark custom-button">INGRESO SGB</button>
            </a>
        </div>
    </div>
    <div class="row" style="background-color: dimgrey">
        <div class="col-sm" style="width: 200px; background-color: dimgrey;">
            <a href="{% url 'admin:index' %}">
                <button type="button" class="btn btn-dark custom-button">ADMINISTRACIÓN</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}