{% extends 'GBAPP/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}


<div class="container" style="text-align: center; vertical-align: center;margin-top: 10%; background-color: dimgrey ">
<div class="row" style="background-color: dimgrey">
    <div class="col-sm" style="background-color: dimgrey" style="width: 200px ">
    <a href= {% url 'vinedo_list' %}><button type="button" class = "btn btn-dark">ABM Viñedos</button></a>
    </div>
    <div class="col-sm" style="background-color: dimgrey" style="width: 200px ">
    <a href= {% url 'vinedo_list' %}><button type="button" class = "btn btn-dark">ABM Analisis</button></a>
    </div>
    <div class="col-sm" style="background-color: dimgrey" style="width: 200px ">
    <a href= {% url 'vinedo_list' %}><button type="button" class = "btn btn-dark">ABM Camionero</button></a>
    </div>
</div>

</div>
{% endblock %}