{% extends 'GBAPP/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}


<div class="container" style="text-align: center; vertical-align: center;margin-top: 10%; background-color: dimgrey ">
<div class="row" style="background-color: dimgrey">
    <div class="col-sm" style="width: 200px ">
    <a href= {% url 'indexABM' %}><button type="button" class = "btn btn-dark">ABM</button></a>
    </div>
</div>
    <div class="row" style="background-color: dimgrey">
    <div class="col-sm" style="background-color: dimgrey">
    <a href= {% url 'new_contmad' %}><button type="button" class = "btn btn-dark" style="width: 200px ">Control Madures</button></a>
    </div>
    <div class="col-sm" style="background-color: dimgrey">
    <a href= {% url 'cronograma_list' %}><button type="button" class = "btn btn-dark" style="width: 200px ">Cronograma de uva</button></a>
    </div>
    <div class="col-sm" style="background-color: dimgrey">
    <a href= {% url 'pesada_list' %}><button type="button" class = "btn btn-dark" style="width: 200px ">Pesada ingreso uva</button></a>
    </div>
    <div class="col-sm" style="background-color: dimgrey">
    <a href= {% url 'bodega' %}><button type="button" class = "btn btn-dark" style="width: 200px ">Bodega</button></a>
    </div>
    <div class="col-sm" style="background-color: dimgrey">
    <a href={% url 'calendario' %} ><button type="button" class = "btn btn-dark" style="width: 200px ">Fraccionado</button></a>
    </div>
    <div class="col-sm" style="background-color: dimgrey">
    <a href= {% url 'vinedo_list' %}><button type="button" class = "btn btn-dark" style="width: 200px ">Informe</button></a>
    </div>
    <div class="col-sm" style="background-color: dimgrey">
    <a href= {% url 'vinedo_list' %}><button type="button" class = "btn btn-dark" style="width: 200px">Trazabilidad</button></a>
    </div>
    </div>
</div>
{% endblock %}