
{% extends 'GBAPP/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<style>
        body {
            text-align:center;
            margin: 0;
            padding: 0;
        }
        img {
            width:800px;
            height:600px;
        }
        .container2 {
          position: relative;
          width: 100%;
          height: 750px;
        }

        .rectangle {
          position: absolute;
          width: 50%;
          height: 100%;
          top: 0;
        }
        .informe {
          background-color: whitesmoke;
          padding: 20px;
        }
        .rectangle-left {
          left: 0;
        }

        .rectangle-right {
          right: 0;
        }

        .cut {
          position: absolute;
          width: 4px;
          height: 100%;
          top: 0;
          left: 50%;
          background-color: #FFFFFF;
          z-index: 1;
        }
    </style>
<script>
    function setFormAction(action) {
        document.getElementById('informe-form').action = action;
    }
</script>
<body>

<div class="container2" style="width: initial">
    <div class="rectangle rectangle-left">
        <form id="informe-form" method="GET" action="{% url 'informepdf' %}">
        {% csrf_token %}
        <div class="form-group" style="width: 100%">
            <h5 class="normal-Max"> Elegir Número Orden: </h5>
            <select name="NumeroMov" id="NumeroMov" class="form-control">
            <option disabled selected value></option>
            {% for stat in mov %}
                <option value="{{ stat.NumeroOrden }}" {% if stat.NumeroOrden|stringformat:"s" == option1  %}selected{% endif %}>{{ stat.NumeroOrden }}</option>
            {% endfor %}
            </select>
        </div>
        <button type="submit" onclick="setFormAction('{% url 'informepdf' %}')">Preview</button>
        <button type="submit" onclick="setFormAction('{% url 'generar_informe' %}')">Generar Informe</button>
    </form>

        {% load static %}
      <img src="{% static 'vine.jpg' %}" alt="centered" />

    </div>
    <div class="rectangle rectangle-right informe" name="informe">
        <H1 style="color: black; background-color: transparent"> Informe Varietal <span style="text-decoration: underline">{{ prod.PesaInicial.Cuartel.variedad.Nombre }}
        - Anio {{ prod.PesaInicial.Cuartel.anoplant }}</span></H1>
        <br>
        <p style="color: black; background-color: transparent">Se obtiene el producto de los viñedos <span style="text-decoration: underline">
        {{ prod.PesaInicial.Vinedo.Nombre }}</span> ubicado en la localidad de <span style="text-decoration: underline">{{ prod.PesaInicial.Vinedo.Ubicacion }}</span>,
        de Mendoza. Éste se encuentra a una altura de <span style="text-decoration: underline">{{ prod.PesaInicial.Vinedo.Altura }}</span> mts sobre el nivel del mar, favoreciendo la amplitud térmica de la región, un factor fundamental para alcanzar uvas de alta calidad en el viñedo. </p>
        <br>
        <p style="color: black; background-color: transparent"> Este producto se obtuvo de un prensado del cuartel <span style="text-decoration: underline"> {{ prod.PesaInicial.Cuartel.NumCuartel }}
        </span> del viñedo <span style="text-decoration: underline">{{ prod.PesaInicial.Vinedo.Nombre }}</span>. Siendo este cuartel de categoría
        {% if prod.PesaInicial.Vinedo.Altura >= 1000 %} <span style="text-decoration: underline">Premium.</span> {% else %}
            <span style="text-decoration: underline">Categoría Alta.</span> {% endif %}</p>
        <br>
        {% if prod.PesaInicial.Cuartel.variedad_id == 1 or prod.PesaInicial.Cuartel.variedad_id == 3 or prod.PesaInicial.Cuartel.variedad_id == 4 %}
            <p style="color: black; background-color: transparent">Maridaje: Al tratarse de un varietal <span style="text-decoration: underline">{{ prod.PesaInicial.Cuartel.variedad.Nombre }}</span>  se puede maridar
            con diferentes alimentos para realzar los sabores de ambos. Una muy buena combinación para el vino tinto son las carnes rojas, ensaladas, pastas, quesos, chocolates, entre otros. Dándonos
            así un sinfín de combinaciones de sabores perfectos para una ocasión especial.</p>
        {% else %}
        <p style="color: black; background-color: transparent">Maridaje: Al tratarse de un varietal <span style="text-decoration: underline">{{ prod.PesaInicial.Cuartel.variedad.Nombre }}</span>  se puede maridar
            con diferentes alimentos para realzar los sabores de ambos. Una muy buena combinación para vinos blancos son los pescados, mariscos, aves, conejo, quesos, pasta, entre otros. Dándonos así
            un sinfín de combinaciones de sabores perfectos para una ocasión especial.</p>
        {% endif %}

    </div>
</div>

</body>

{% endblock %}