
{% extends 'GBAPP/base.html' %}

{% block content %}

<div class="containter">

  <div class="row">

      <div class="col-sm" > <h1> Agregar Pesada</h1>
       <ul>
        <form action="{% url 'new_pesada' %}" method="post">
              {% csrf_token %}
            <h4> Numero Pesada: {{ NumPes }} </h4>
            <h4> Peso Neto: <input type="text" name="PesoNeto" class="form-control" required></h4>
            <h4> Peso Bruto: <input type="text" name="PesoBruto" class="form-control" required></h4>
            <h4> Fecha Creacion: {{ credate }} </h4>
            <h4>Camionero: </h4>
                <select name="camion" class="form-control">
                    {% for stat in camionero %}
                        <option value="{{ stat.id }}">{{ stat.Nombre }}</option>
                    {% endfor %}
                </select>
            <h4>Varietal: </h4>
                <select name="varie" class="form-control">
                    {% for stat in varietal %}
                        <option value="{{ stat.id }}">{{ stat.Nombre }}</option>
                    {% endfor %}
                </select>
            <h4>Viñedo: </h4>
                <select name="vine" class="form-control">
                    {% for stat in vin %}
                        <option value="{{ stat.NumeroVin }}" {% if stat.Estado == 'Activo' %} selected {% endif %}>{{ stat.Estado }}</option>
                    {% endfor %}
                </select>
        <input type="submit" value="Generar Pesada" class="btn btn-dark">
        </form>
       </ul>
      </div>
  </div>
</div>
{% endblock %}