
{% extends 'GBAPP/base.html' %}

{% block title %}Listado Pesada{% endblock %}

{% block content %}

<div class="containter">

  <div class="row">

      <div class="col-sm" > <h1> Detalle Pesada</h1>
       <ul>
        <form action="{% url 'pesada_update' pesada_list.id %}" method="post">
              {% csrf_token %}
            <h4> Numero Pesada: {{ pesada_list.NumeroPesada }} </h4>
            <h4> Tara: <input type="text" name="Tara" value="{{ pesada_list.Tara }}" class="form-control" required></h4>
            <h4> Peso Bruto: <input type="text" name="PesoBruto" value="{{ pesada_list.PesoBruto }}" class="form-control" required></h4>
            <h4> Peso Neto: {{ pesada_list.PesoNeto }} </h4>
            <h4> Fecha Cosecha: {{ pesada_list.FechaCosecha }} </h4>
            <h4>Camionero: </h4>
                <select name="camion" class="form-control">
                    {% for stat in camionero_list %}
                        <option value="{{ stat.id }}" {% if pesada_list.Camionero.id == stat.id %}selected{% endif %}>{{ stat.Nombre }}</option>
                    {% endfor %}
                </select>
            <h4>Varietal: </h4>
                <select name="varie" class="form-control">
                    {% for stat in varietal %}
                        <option value="{{ stat.id }}" {% if pesada_list.Varietal.id == stat.id %}selected{% endif %}>{{ stat.Nombre }}</option>
                    {% endfor %}
                </select>
            <h4>Viñedo: </h4>
                <select name="vine" class="form-control">
                    {% for stat in vinedo %}
                        <option value="{{ stat.NumeroVin }}" {% if pesada_list.Vinedo.id == stat.id %}selected{% endif %}>{{ stat.Nombre }}</option>
                    {% endfor %}
                </select>
       <input type="submit" value="Actualizar Pesada" class="btn btn-dark">
       </form>
       </ul>
    </div>
  </div>
</div>
{% endblock %}