{% extends 'GBAPP/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<style>
        body {
            text-align:center;
        }
        img {
            width:600px;
            height:400px;
        }
</style>
<div class="d-flex align-items-center">`
        {% load static %}
      <img src="{% static 'vine.jpg' %}" class="mx-auto" /> <img src="{% static 'vinedo2.jpg' %}" class="mx-auto" /> <img src="{% static 'vinedo1.jpg' %}" class="mx-auto" /> <img src="{% static 'vine.jpg' %}" class="mx-auto" />
</div>

<div class="container" style="text-align: center; margin-top: 2%">
<div class="row" style="background-color: dimgrey">
    <div class="col-sm" style="width: 200px ">
    <a href= {% url 'new_tanque_tipo' %}><button type="button" class = "btn btn-dark">ABM Tipo Tanque</button></a>
    </div>
    <div class="col-sm" style="width: 200px ">
    <a href= {% url 'new_tanque' %}><button type="button" class = "btn btn-dark">ABM Tanques</button></a>
    </div>
</div>

</div>
{% endblock %}