
{% extends 'GBAPP/base.html' %}

{% block title %}Listado Viñedos{% endblock %}

{% block content %}

<div class="containter">

         <div class="row">
<div class="col-sm">
        <h1 style="background: slategray">Listado de Viñedos</h1>

    <div class="row" style="background-color: slategray">
        {% for stat in vinedo_status_list %}
    <div class="col-sm" style="background-color: slategray; outline: slategray 5px; outline-style: solid"> <h1> {{ stat.Estado }} </h1>
        <ul>
            {% for vinedo in vinedo_list %}
                {% if vinedo.Estado.Estado == stat.Estado  %}
               <li><a href="/vinedo/{{ vinedo.id }}/ "> {{ vinedo.Nombre }} </a></li>
                {% endif %}
            {% endfor %}
        </ul>
     </div>
        {% endfor %}

    </div>
   <a href= "{% url 'vinedo_detail' %}"><button type="button" class = "btn btn-secondary">Agregar Viñedo</button></a>
    </div>
</div>
</div>


{% endblock %}