
{% extends 'GBAPP/base.html' %}

{% block title %}Listado Vinedos{% endblock %}

{% block content %}

<div class="containter">

         <div class="row">
<div class="col-sm">
        <h1 style="background: white">Listado de Viñedos</h1>

    <div class="row" style="background-color: white">
        {% for stat in vinedo_status_list %}
    <div class="col-sm" style="outline: white 5px; outline-style: solid"> <h1> {{ stat.estado }} </h1>
        <ul>
            {% for vinedo in vinedo_list %}
                {% if vinedo.Estado.estado == stat.estado  %}
               <li><a href="/vinedo/{{ vinedo.id }}/"> {{ vinedo }} </a></li>
                {% endif %}
            {% endfor %}
        </ul>
     </div>
        {% endfor %}

    </div>
   <a href= "{% url 'vinedo_list' %}"><button type="button" class = "btn btn-secondary">Agregar Viñedo</button></a>
    </div>
</div>
</div>


{% endblock %}